{% extends "base.html" %}
{% block title %}Home Page {% endblock %}

{% block body %}

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Answered Questions</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {% for question in questions %}
              <a href="{{ url_for('question_app.get_question', question_id=question['question_id']) }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ question["question"] }}</h4>
              <p class="list-group-item-text">Asked by: {{ question["asker_name"].title() }}</p>
              <p class="list-group-item-text">Answered by: {{ question["expert_name"].title() }}</p>
            </a>
          {% else %}
              <div class="container theme-showcase" role="main">

                  <div class="jumbotron">
                    <h2>There are no asked questions to answer</h2>
                  </div>

              </div> <!-- /container -->

          {% endfor %}
        </div><!-- /.col-lg-12 -->
      </div>

    </div> <!-- /container -->

{% endblock %}